.icon{

 height: 50px;
 width: 50px;
 background-color: $WhiteOPA;
 border-radius: 10%;
}
.fav-icon{

background : yellow;
border-radius: 100%;
height: 60px;
width : 60px;

}

.ACTION_SPORT{
    background-image: url("../assets/ACTION_SPORT.png");
    background-repeat: no-repeat;
    background-position : center;
    
}
.AIR_SPORT{
    background-image: url("../assets/AIR_SPORT.png");
    background-repeat: no-repeat;
    background-position : center;
}
.BASKETBALL{
    background-image: url("../assets/BASKETBALL.png");
    background-repeat: no-repeat;
    background-position : center;
}
.BMX{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/BMX.png");
}
.BOATING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/BOATING.png");
}
.BODYBUILDING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/BODYBUILDING.png");
}
.CANOE_KAYAK{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/CANOE_KAYAK.png");
}
.CANYONING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/CANYONING.png");
}
.CAVING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/CAVING.png");
}
.CLIMBING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/CLIMBING.png");
}
.COMBAT_SPORT{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/COMBAT_SPORT.png");
}
.CROSS_COUNTRY_SKIING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/CROSS_COUNTRY_SKIING.png");
}
.CROSSFIT{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/CROSSFIT.png");
}
.CYCLING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/CYCLING.png");
}
.DANCING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/DANCING.png");
}
.DIVING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/DIVING.png");
}
.FISHING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/FISHING.png");
}
.FITNESS{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/FITNESS.png");
}
.FOOTBALL{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/FOOTBALL.png");
}
.FREE_DIVING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/FREE_DIVING.png");
}
.GOLF{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/GOLF.png");
    background-repeat: no-repeat;
    background-position : center;
}
.HANDBALL{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/HANDBALL.png");
}
.HIKING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/HIKING.png");
}
.HORSE_RIDING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/HORSE_RIDING.png");
}
.ICE_SPORT{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/ICE_SPORT.png");
}
.JETSKIING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/JETSKIING.png");
}
.KITEBOARDING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/KITEBOARDING.png");
}
.MOTOCROSS{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/MOTOCROSS.png");
}
.MOTORSPORT_SPORT{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/MOTORSPORT_SPORT.png");
}
.MOUNTAIN_BIKING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/MOUNTAIN_BIKING.png");
}
.MOUNTAINEERING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/MOUNTAINEERING.png");
}
.NATURE_WILDLIFE{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/NATURE_WILDLIFE.png");
}
.NORDIC_WALKING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/NORDIC_WALKING.png");
}
.PARAGLIDING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/PARAGLIDING.png");
}
.QUAD_BIKING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/QUAD_BIKING.png");
}
.RAFTING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/RAFTING.png");
}
.ROLLERBLADING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/ROLLERBLADING.png");
}
.RUGBY{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/RUGBY.png");
}
.RUNNING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/RUNNING.png");
}
.SAILING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/SAILING.png");
}
.SHOOTING_SPORT{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/SHOOTING_SPORT.png");
}
.SKATEBOARDING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/SKATEBOARDING.png");
}
.SKIING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/SKIING.png");
}
.SKYDIVING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/SKYDIVING.png");
}
.SLACKLINE{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/SLACKLINE.png");
}
.SLEDGE{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/SLEDGE.png");
}
.SNOWBOARDING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/SNOWBOARDING.png");
}
.SNOWSHOEING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/SNOWSHOEING.png");
}
.SQUASH{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/SQUASH.png");
}
.STAND_UP_PADDLE{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/STAND_UP_PADDLE.png");
}
.SURFING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/SURFING.png");
}
.SWIMMING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/SWIMMING.png");
}
.TENIS{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/TENIS.png");
}
.TRAIL{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/TRAIL.png");
}
.TRIATHLON{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/TRIATHLON.png");
}
.VIA_FERRATA{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/VIA_FERRATA.png");
}
.VOLLEYBALL{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/VOLLEYBALL.png");
}
.WAKEBOARDING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/WAKEBOARDING.png");
}
.WATER_SKIING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/WATER_SKIING.png");
}
.WELLNESS{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/WELLNESS.png");
}
.WINDSURFING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/WINDSURFING.png");
}
.WING_FOIL{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/WING_FOIL.png");
}
.WINGSUIT_FLYING{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/WINGSUIT_FLYING.png");
}
.YOGA{
    background-repeat: no-repeat;
    background-position : center;
    background-image: url("../assets/YOGA.png");
}
.OTHER{
    height: 50px;
    width :50px;
    background: $Black;
    border-radius: 50%;
}